body
{
    width: 75%;
    max-width:760px;
    min-width:320px;
    margin: auto;
            
    font-size: 100%;
    font-family: 'Libre Baskerville', Georgia, serif;
    color: #333;
            
    line-height: 1.8em;
}

section
{
    padding: 3em 0 3em 0;
}

/* Typography */

h1, h2, h3
{
    font-weight: normal;
    color: #E25656;
}
        
h1{ font-size: 3.375em; }
h2{ font-size: 2.25em; }        
h3 { font-size: 1.15em; }

.intro
{
    font-size: 1.25em;
    line-height:2em;
    padding: 3em 0 0 0;
}


/* LINKS */
a
{
    color: #E25656;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}
